<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		  classpath*:/applicationContext.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet>
	        <description>
	        </description>
	        <display-name>
	        InvoiceSenderServlet</display-name>
	        <servlet-name>InvoiceSenderServlet</servlet-name>
	        <servlet-class>
	        com.fet.mdm.service.InvoiceSenderServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>InvoiceSenderServlet</servlet-name>
	        <url-pattern>/InvoiceSenderServlet</url-pattern>
	    </servlet-mapping>


</web-app>
